/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
/routes
/resources
/public
/database
/config/*
!/config/app.php
/bootstrap
/app
.editorconfig
.env.example
artisan
.styleci.yml
composer.lock
server.php
webpack.mix.js
.gitattributes
package.json
phpunit.xml
README.md
/tests
